/* sass colors? */

:root {
    --main-color: #031136;
    --secondary-color: #FFAC12;
    --head-font: 'Raleway', sans-serif;
    --second-font: 'Poppins', sans-serif;
}

/* Presentation 2  */
.presentation-2{
    height: 500px;
    display: flex;
   
}
.presentation-2 .div1{
width: 25%;
margin-left: 0;
background-color: black;
height: 3px;
margin-bottom: 5%;

}
.presentation-2 .half{
    height: 70%;
    width: 35%;
    margin-left: 10%;
}
.half-btn{
    margin-top:10%;
}
.second-half{
    width: 50%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.second-half img{
    height: 100%;
    width: 80%;
    border-radius: 20px;
    -webkit-box-shadow: -1px -6px 74px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -6px 74px -21px rgba(0,0,0,0.75);
    box-shadow: -1px -6px 74px -21px rgba(0,0,0,0.75);
}
/* End Presentation 2 */


/* above Footer Section */
.above-footer{
    background-color: black;
    color:white;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.above-footer >div{
    margin-left:12%;
    font-size: 35px;
    
}

.above-footer >div span{
    color: #FFAC12;

}
.button-style a {
    padding:15px 46px ;
    margin-right:20%;
    border-top-right-radius: 20px;
    background-color: #FFAC12;
    font-weight: 600;
    text-decoration: none;
    color:black;
}
.button-style i{
    margin-left: 20px;
    color: black;

}

.button-style a:hover {
    background-color: #031136;
    color: #FFAC12;
    transition: all 0.5s ease-in-out;
}
.button-style a:hover >  i {
    color: #FFAC12;
    transition: all 0.5s ease-in-out;
}

/* Footer image */

.test-flex{
    display: flex;
}
.logo-socials-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-socials-container a{
    text-decoration: none;
    color: white;
}

.img-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-contain img{
    height: 50px;
    width: 50px;
}
.img-contain span{
 font-size: 25px;
}

.socials{
    margin-left: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
}
.socials i{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 3px;
    border-radius: 5px;

}


.click-links p a:hover{
    color: black!important;
    background-color: white;
    border-radius: 5px;
    padding:2px 5px 2px 5px;
    transition: all 0.5s ease-in-out;

}
footer {
    background-color: var(--main-color);
}






/* header */

.img-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-contain img{
    height: 50px;
    width: 50px;
}
.img-contain span{
 font-size: 25px;
}

.top-bar {
    background-color: #FFAC12;
}


nav{
    background-color: #031136;
}

.custom-nav-homepage .active {
    border-bottom: 2px solid #FFAC12 !important;
    color:#FFAC12 !important;
}


.custom-nav-homepage li a.nav-link:hover {
    color: #FFAC12;
}

.navbar-toggler{
    border-color:white;
}

.navbar-toggler-icon{
    background-image: none;
}
.navbar-toggler-icon {
   display: flex;
   justify-content: center;
   align-items: center;
}










#image-hero {

    height: 70vh;
    position: relative;

}




@media only screen and (max-width: 600px) {



    /* Above Footer Media queries */
    .above-footer{
        background-color: black;
        color:white;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .above-footer >div{
      margin-left: 5%;
        
    }
    

    
    .above-footer button {
        padding:15px 46px ;
        margin:0 0 10% 0;
        border-top-right-radius: 20px;
        background-color: #FFAC12;
        font-weight: 600;
    }
     /* End Above Footer Media queries */
}