/* sass colors */

:root {
    --main-color: #031136;
    --secondary-color: #ffac12;
    --head-font: "Poppins", sans-serif;
    --second-font: "Kanit", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--head-font);
}
p {
    color: gray;
    font-family: "Kanit", sans-serif;
}
.bg-shade {
    padding: 2px 2px 2px 4px;
    border-radius: 5px;
    background-color: rgba(46, 43, 43, 0.144);
    -webkit-box-shadow: 0px 0px 50px 22px rgba(255, 255, 255, 0.38);
    box-shadow: 0px 0px 50px 22px rgba(108, 104, 104, 0.38);
}

/* Utilities Classes */

.text-main-color {
    color: var(--main-color);
}

.text-second-color {
    color: var(--secondary-color);
}

.bg-main-color {
    background-color: var(--main-color) !important;
}

.bg-second-color {
    background-color: var(--secondary-color);
}

/* Search bar */

#search {
    border: 1px solid black;
}

.form-input {
    --bs-form-select-bg-img: none !important;
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-image: var(--bs-form-select-bg-img),
        var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Card Section */
.card-padding {
    padding-bottom: 12%;
}
/* above Footer Section */
.above-footer {
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.above-footer > div {
    margin-left: 12%;
    font-size: 35px;
}

.above-footer > div span {
    color: #ffac12;
}
.button-style a {
    padding: 15px 46px;
    margin-right: 20%;
    border-top-right-radius: 20px;
    background-color: #ffac12;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.button-style i {
    margin-left: 20px;
    color: black;
}

.button-style a:hover {
    background-color: #ffffff;
    color: #ffac12;
    transition: all 0.5s ease-in-out;
}
.button-style a:hover > i {
    color: #ffac12;
    transition: all 0.5s ease-in-out;
}

/* Footer image */

.test-flex {
    display: flex;
}
.logo-socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-socials-container a {
    text-decoration: none;
    color: white;
}

.img-contain {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-contain img {
    height: 50px;
    width: 50px;
}

.socials {
    margin-left: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
}
.socials i {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 3px;
    border-radius: 5px;
}

.click-links p a:hover {
    color: black !important;
    background-color: white;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    transition: all 0.5s ease-in-out;
}
footer {
    background-color: var(--main-color);
}

/* header */

.img-contain {
    display: flex;
    align-items: center;

    justify-content: center;
}
.img-contain img {
    height: 50px;
    width: 50px;
}
.img-contain span {
    font-size: 40px;
}

.top-bar {
    background-color: #ffac12;
}

nav {
    background-color: #031136;
}

.custom-nav-homepage .active {
    border-bottom: 2px solid #ffac12 !important;
    color: #ffac12 !important;
}

.custom-nav-homepage li a.nav-link:hover {
    color: #ffac12 !important;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-image: none;
}
.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Header */

/*hero Image*/

#image-hero {
    height: 80vh;
    position: relative;
}

#image-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0.6;
    background: rgb(3, 17, 54);
    background: linear-gradient(
        0deg,
        rgba(3, 17, 54, 1) 28%,
        rgba(255, 255, 255, 1) 100%
    );
}

.hero-section a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    padding-left: 30px;
}

.hero-section a i {
    color: #ffac12;
}

.custom-pres-card {
    --bs-card-border-width: 0rem !important;
    --bs-card-border-radius: 0rem !important;
}

.custom-pres-card .custom-pres-body {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*end hero section*/

/* Presentation 1*/
.img-pres-style {
    object-fit: cover;
}

.img-pres-style img {
    border-radius: 20px;
    -webkit-box-shadow: -1px -6px 74px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -6px 74px -21px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -6px 74px -21px rgba(0, 0, 0, 0.75);
}

.section-1 a {
    padding: 15px 46px;

    border-top-right-radius: 20px;
    background-color: #ffac12;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.section-1 i {
    margin-left: 20px;
    color: black;
}

.section-1 a:hover {
    background-color: #031136;
    color: #ffac12;
    transition: all 0.5s ease-in-out;
}
.section-1 a:hover > i {
    color: #ffac12;
    transition: all 0.5s ease-in-out;
}

.line {
    width: 25%;
    margin-left: auto;
    background: rgb(255, 172, 18);
    background: linear-gradient(
        90deg,
        rgba(255, 172, 18, 1) 0%,
        rgba(3, 17, 54, 1) 100%
    );

    height: 3px;
    margin-bottom: 5%;
}
/* search */

.search-button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
}
.search-button:hover {
    background-color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    color: var(--main-color);
}
/* end search*/

/* Contact page*/

.image-pages {
    height: 40vh;
    position: relative;
}

.image-pages::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(3, 17, 54);
    background: linear-gradient(
        180deg,
        rgba(3, 17, 54, 1) 6%,
        rgba(255, 255, 255, 1) 100%
    );
}

.contact-map {
    border: 1px solid #ffac12 !important;
    border-radius: 30px;
}

.custom-form-contact .form-control:focus {
    border-color: #ffac12;
    box-shadow: 0 0 0 0.25rem rgba(255, 172, 18, 0.3);
}

.contact-button {
    border-radius: 0px;
    padding: 10px 20px;
    font-size: large;
    background-color: #ffac12;
    border: #ffac12;
}

.contact-button:hover {
    background-color: white;
    border: 1px solid #ffac12;
    color: #ffac12;
}

.contact-info {
    color: rgba(0, 0, 0, 0.7);
}

.media-body h6 {
    color: rgba(0, 0, 0, 0.9);
    margin: 0px !important;
}

/* Contact page End*/

/*About Us */

.about-section-1 {
    background-color: #f9f9f9;
}

.img-about-us {
    object-fit: cover;
}

.img-about-us img {
    border-radius: 20px;
    -webkit-box-shadow: -1px -6px 74px -21px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px -6px 74px -21px rgba(0, 0, 0, 0.3);
    box-shadow: -1px -6px 74px -21px rgba(0, 0, 0, 0.3);
}

.services-about {
    background-color: #f9f9f9;
}

.single-services {
    border: 1px solid rgba(255, 172, 18, 0.4);
    border-radius: 10px;
    padding: 50px 0;
}

.single-services:hover {
    box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
    transition: all 250ms ease-in-out;
}

.service-icon {
    font-size: 45px;
    color: #ffac12;
}

.service-body h5 {
    font-weight: 300;
}

/* About Us End */

/* Single PAge*/

.carousel-col {
    width: 65% !important;
}

.agent-card {
    border-radius: 30px;
}

.agent-card img {
    border-radius: 50px;
}
.agent-card i {
    color: #ffac12;
}

.agent-icons {
    font-size: 25px;
}

.agent-href {
    color: #ffac12;
}

.location-style {
    font-size: 14px;
}
.custom-carousel {
    border-radius: 30px;
}

.icons-styles ul {
    list-style: none;
    padding: 0px;
}

.icons-styles ul li {
    font-size: 17px;
    color: #697488;
}

.icons-styles i {
    color: #5eb861;
    font-size: 18px;
}

/* ALl listings */
.pagination-div {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* End - all listings */
@media only screen and (max-width: 600px) {
    /* Above Footer Media queries */
    .above-footer {
        background-color: black;
        color: white;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .above-footer > div {
        margin-left: 5%;
    }
    .button-style a {
        padding: 12px 25px;
        margin-right: 0%;
    }

    .above-footer button {
        padding: 15px 46px;
        margin: 0 0 10% 0;
        border-top-right-radius: 20px;
        background-color: #ffac12;
        font-weight: 600;
        text-decoration: none;
        color: black;
    }
    /* End Above Footer Media queries */
}
